/* 제목용 폰트 (SUITE) */
@font-face {
  font-family: "SUITE";
  src: url("/public/fonts/SUITE-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* 본문용 폰트 (Pretendard)  */
@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 본문용 폰트 굵은 거 */
@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Pretendard", sans-serif;
  width: 100%;
  min-height: 100vh;

  word-break: keep-all;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SUITE", sans-serif;
}

button {
  font-family: "SUITE", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
